# Claude
.claude/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.suo
*.user

# Node (caso use no futuro)
node_modules/
.env
.env.local
.env*.local

# Build
dist/
.astro/
.next/
out/

# Logs
*.log
npm-debug.log*

#Arquivos.md
.md
*.md

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
